/*-- Resets --*/

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




/*-- Fonts --*/
@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Light.woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Regular.woff');
  font-weight: 400;
}

/*
@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Medium.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Bold.woff');
  font-weight: 700;
}
*/




/*-- Base --*/
html {
  width: 100%;
  height: 100%;  		  
}

body {
  width: 100%;
  height: 100%;
  background-color: #03090f;
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: #99c3ff;
  font-family: Fira Sans;
  font-weight: 200;
  font-size: 24pt;
  overflow-x: hidden;
}

a:link {
  color: #bbc2fe;
  text-decoration: none;
}
a:visited {
  color: #bbc2fe;
}

/*-- Content --*/
.container-outer {
  position: relative;
  top: 25%;
  width: 100%;
/*   background-color: hsla(300,100%,50%,.2); */
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.container-intro {
  width: 100%;
  margin: 0 auto 80px;
  padding: 0 50px;
/*   background-color: hsla(300,100%,50%,.2); */
  text-align: center;
}

h1 {
  margin-bottom: .5em;
  font-weight: 200;
  font-size: 1em;
}

p {
  font-size: .75em;
}

.text-summary {
/*   margin-bottom: 3em; */
}

.text-download {
  margin-bottom: 1.5em;
  padding: 0 20px;
  font-size: .75em;
  color: #a5abff;
}

.container-download {
  margin: 0 auto 80px;
/*   background-color: hsla(300,100%,50%,.2); */
  text-align: center;
}

.container-downloadButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

/*   background-color: hsla(300,100%,50%,.2); */
}

.downloadButton {
  position: relative;
  display: block;

  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;

  margin: 0 20px;
  padding-left: 32px;
  width: 200px;
  min-width: 160px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 32px auto;
  color: #bbc2fe;
  font-weight: 400;
  font-size: .6em;
  line-height: 64px;
  text-decoration: none;
  border: 3px solid #bbc2fe;
  border-radius: 40px;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.downloadButton:first-child {
  margin-left: 0;
}
.downloadButton:last-child {
  margin-right: 0;
}

.downloadButton.windows {
  background-image: url('images/icon-download-windows-inverted.png');
}
.downloadButton.osx {
  background-image: url('images/icon-download-osx-inverted.png');
}
.downloadButton.linux {
  background-image: url('images/icon-download-linux-inverted.png');
}
/*-- Retina Rules --*/
@media (min-resolution: 2dppx) {
  .downloadButton.windows {
    background-image: url('images/icon-download-windows-inverted.png');
  }
  .downloadButton.osx {
    background-image: url('images/icon-download-osx-inverted@2x.png');
  }
  .downloadButton.linux {
    background-image: url('images/icon-download-linux-inverted.png');
  }
}


.downloadButton:hover {
  background-color: #00ffbf;
  color: #0a1a32;
  border-color: #00ffbf;
}
.downloadButton.windows:hover {
  background-image: url('images/icon-download-windows.png');
}
.downloadButton.osx:hover {
  background-image: url('images/icon-download-osx.png');
}
.downloadButton.linux:hover {
  background-image: url('images/icon-download-linux.png');
}
/*-- Retina Rules --*/
@media (min-resolution: 2dppx) {
  .downloadButton.windows:hover {
    background-image: url('images/icon-download-windows.png');
  }
  .downloadButton.osx:hover {
    background-image: url('images/icon-download-osx@2x.png');
  }
  .downloadButton.linux:hover {
    background-image: url('images/icon-download-linux.png');
  }
}

.downloadButton:hover:active {
  opacity: .6;
}


.indicator-download {
  position: absolute;
  top: -10px;
  right: -12px;
  width: 40px;
  height: 40px;
  background-color: #00ffbf;
  background-image: url('images/icon-download.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid #0b1c36;
  border-radius: 100px;
  opacity: 0;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.downloadButton:hover > .indicator-download {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}




/*-- Section - Information --*/
.container-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  padding: 20px;
  
  background-color: #212a53;

/*
  background-image: url('images/background-blurred.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
*/

/*   background-color: hsla(230, 43%, 35%, 1); */
/*   background-color: hsla(300,100%,50%,.2); */
}

.container-information.section-visualDesign {
  padding-bottom: 0;
}

.container-informationBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: stretch;
  align-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  
  width: 900px;
    
/*   background-color: hsla(300,100%,50%,.2); */
}

.informationBlock {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 0 1 auto
  flex: 1 1 auto;

  width: 100%;
  padding: 20px;
/*   background-color: hsla(300,100%,50%,.2); */
  text-align: left;
}
.section-visualDesign .informationBlock {
  padding-bottom: 0;
}

.informationBlock-separator {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 fixed;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  min-width: 1px;
  width: 1px;
  padding: 20px  0;
  background-color: #7a7acc;
  background-clip: content-box;
}

.informationBlock h2 {
  margin-bottom: .5em;
  color: #bebeed;
  font-weight: 200;
  font-size: .7em;
}

.informationBlock p {
  color: #cecef2;
  font-weight: 200;
  font-size: .5em;
}

.section-visualDesign .informationBlock p {
  margin-bottom: 2em;
}

.separator-horizontal {
  max-width: 800px;
  height: 1px;
  margin: -1px auto 0;
  padding: 0 20px;
  background-color: #7a7acc;
  background-clip: content-box;
}
.image-mainWindow {
  width: 100%;
  height: auto;
}

.image-devices {
  width: 100%;
  height: auto;
}

/*
.image-mainWindow {
  width: 100%;
  height: 460px;
  background-image: url('images/image-mainWindow.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}
*/
/*-- Retina Rules --*/
/*
@media (min-resolution: 2dppx) {
  .image-mainWindow {
    background-image: url('images/image-mainWindow@2x.png');
  }
}
*/

.image-cropped {
  display: block;
  margin: 0 auto;
}




/*-- Section - Information --*/
.container-consistency {
/*   height: 540px; */
width: auto;
  padding: 40px 20px;
/*   background-color: hsla(230, 43%, 35%, .3); */
/*
  background-color: #10182f;
  background-image: url('images/image-devices.png');
  background-repeat: no-repeat;
  background-position: center 100px;
  background-size: 1658px;
*/
}
/*-- Retina Rules --*/
/*
@media (min-resolution: 2dppx) {
  .container-consistency {
    background-image: url('images/image-devices@2x.png');
  }
}
*/


.container-consistency h2 {
  width: 900px;
  margin: 0 auto 2em;
  color: #7e96da;
  font-weight: 200;
  font-size: .7em;
}




/*-- Bug Report --*/
.container-bugFile {
  position: absolute;
  right: 0;
  padding: 12px;
  width: 300px;
  background-color: hsla(230, 43%, 35%, .7);
  font-weight: 400;
  font-size: .45em;
  text-align: center;
  text-decoration: none;
  -webkit-transform: rotate(40deg) translate(85px, -20px);
  transform: rotate(40deg) translate(85px, -20px);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.container-bugFile:hover {
  background-color: hsla(230, 43%, 35%, 1);
  -webkit-transform: rotate(40deg) translate(85px, -20px) scale(1.1);
  transform: rotate(40deg) translate(85px, -20px) scale(1.1);
}



/*-- UX Chart --*/
.container-uxChart {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 64px;
  height: 64px;
  z-index: 99;
}

.uxChart {
  width: 64px;
  height: 64px;
  background-image: url('images/image-ux-chart.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: .5;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.container-uxChart:hover .uxChart {
  opacity: 1;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.uxChartLegend {
  position: absolute;
  top: 70px;
  width: 340px;
  padding: 25px 30px;
/*   background-color: hsla(0,0%,0%,.9); */
  background-color: hsla(210, 2%, 40%, .95);
  border-radius: 4px;
  color: hsla(210, 2%, 90%, .9);
  font-size: .5em;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  pointer-events: none;
}

.container-uxChart:hover .uxChartLegend {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


.uxChartLegend ul {
  padding-left: 24px;
}

.uxChartLegend ul li {
  margin-bottom: .3em;
}

.uxChartLegend ul li.red { list-style-image: url('images/uxChart-red.svg'); }
.uxChartLegend ul li.burntOrange { list-style-image: url('images/uxChart-burntOrange.svg'); }
.uxChartLegend ul li.orange { list-style-image: url('images/uxChart-orange.svg'); }
.uxChartLegend ul li.yellow { list-style-image: url('images/uxChart-yellow.svg'); }
.uxChartLegend ul li.green { list-style-image: url('images/uxChart-green.svg'); }
.uxChartLegend ul li.blue { list-style-image: url('images/uxChart-blue.svg'); }
.uxChartLegend ul li.purple { list-style-image: url('images/uxChart-purple.svg'); }
.uxChartLegend ul li.plum { list-style-image: url('images/uxChart-plum.svg'); }
.uxChartLegend ul li.magenta { list-style-image: url('images/uxChart-magenta.svg'); }



/*-- Media Queries --*/
@media only screen and (max-width : 600px) {
  .container-downloadButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .downloadButton {
    margin: 0 0 1em;
  }
}

@media only screen and (max-width : 900px) {
  .container-informationBlocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
    width: auto;
  }

  .informationBlock {
    width: 100%;
    
  }
  .informationBlock-separator {
    width: 100%;
    height: 1px;
    padding: 0  20px;
  }
}

/*
@media only screen and (max-width : 400px) {
  .container-intro {
    padding: 0 20px;
  }
}
*/
